<section class="bg-white text-center has-divider header-desktop-app">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-7 col-lg-8 col-md-9">
        <p class="badge badge-pill bg-primary-3 text-white navigate">SuperFit Remote</p>
        <h1 class="display-3">
          Grow Your Personal Trainer Salary. Coach Remotely.
        </h1>
        <h2 class="lead">Create & sell workout plans to your leads & fitness audience</h2>
        <a href="https://superfitapp.com/remote" class="btn btn-primary-3 btn-lg mt-3" angulartics2On="click"
          angularticsAction="RemoteLearnMore" angularticsLabel="learnMoreButton"
          [angularticsProperties]="{'location': 'Home Page'}"> Learn More</a>
      </div>
    </div>
    <div class="row justify-content-center" data-aos="fade-up" data-delay="100">
      <div class="col-lg-10">
        <img src="https://superfit.nyc3.cdn.digitaloceanspaces.com/assets/superfit-remote-hero.jpg"
          alt="remote coaching video call">
      </div>
    </div>
  </div>
</section>
<section class="bg-white has-divider jarallax" data-jarallax data-speed="0.2">

  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-xl-8 col-lg-9 col-md-10">
        <h4 class="display-3">What is Coaching Remotely?</h4>
        <p class="lead">Coaching remotely is an honest approach to the term "online/virtual personal training".
          No AI Bot or automated messages — We make it easy for you to share videos and start calls with your clients.
        </p>
        <a href="https://superfitapp.com/remote" class="btn btn-primary-3 btn-lg mt-3"> Learn More</a>
      </div>
    </div>
  </div>
</section>