<section class="p-0" data-reading-position>
  <div class="container">
    <div class="row my-3">
      <div class="col">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="index.html">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Story & Mission</li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <h2>My Story & Mission</h2>
    </div>
    <div class="row justify-content-center">
      <div class="col-xl-7 col-lg-8 col-md-10">
        <article class="article">
          <p class="lead">
            If there's one place for me to be brutally honest with you, it's this page. This story starts with me I'm
            going to tell you what drives my pursuit to make great products for sports fitness training.
          </p>
          <hr>
          <br>
          <p class="lead">
            Hi, I'm Leo, the founder of SuperFit.
          </p>
          <p>
            I'm a 27 years old Asian American born & raised in Queens, New York. I
            launched SuperFit 1.0 in 2017 as a beloved side project I worked on during long nights and weekends. In
            2019, I left my full-time job to focus on SuperFit daily and share my passion for sports and
            fitness with the world. Of course, I don't play every sport; basketball was my <em>passion</em> growing up.
            It's the one thing that drove me through highschool, college and where I am today with SuperFit. This is how
            everything started.
          </p>
          <br>


          <h4>10 y.o.</h4>
          <p>
            My mother never learned how to swim growing up, despite how much she loves being with water. It's no
            coincidence that the first sport I learned and became good at was swimming. My mom worked two jobs waiting
            tables, my aunt who lived with us was a cook at a Malaysian restaurant
            down the street from home. Toys? no. DSL internet? Def No. But Mom was serious about having me take
            group swim classes on the weekends. I still remember every tier level in the lessons pamphlet for that swim
            program:
            beginner, intermediate, advanced, club. I think by the time I reached advanced, I didn't need lessons
            anymore.
          </p>

          <h4>12 y.o.</h4>
          <p>Thinking back, I was a pretty good swimmer. I wasn't on Junior National swim circuit or anything, but at
            13, I was decent enough to be one of the fastest sprinters at my local Boys' Club swim team - the Abbe
            Panthers. We traveled to meets on the weekends, competing with other clubs in the NYC area. I experienced
            what winning as a team felt like, as well as how awful losing can be. I also learned what
            respect felt like, especially as a nerdy Asian amongst a dense Black
            and Latino community. I never wanted to let my teammates down, because I could always hear their insane
            cheering through the water the entire race.</p>

          <h4>14 y.o.</h4>
          <p>
            Did I mention I did not like to swim?
          </p>
          <p> I used to say I hated swimming, but that's not true; I went along with
            it
            because I was decently good. I just always loved basketball. I had taken a few basketball lessons too
            growing up,
            but not <em>nearly</em> to the extent of time I spent learning to swim. By my first year in highschool, I
            told myself I'm done with swimming. I got booted off my highschool team
            pretty early on because I skipped practices. I
            just didn't care — I wanted to be GOOD at basketball.
            <br>
            <br>
          </p>
          <p class="lead">
            Quitting was not hard.
          </p>
          <p>
            Telling my coach and teammates on the Abbe Panthers was the crushing part. These were
            my childhood friends and quitting the team felt like quitting on them. They took it pretty hard,
            especially
            my coach. He believed in me and I think he felt I was tossing away something good.
            <br><br>After I gave the news,
            I
            remember doing a
            couple laps alone on an easy summer afternoon. My coach walked over to my
            lane one last time and we slowly
            talked about my decision to leave. I don't remember much from the conversation, but the know how it ended:
            He told me that if I
            stayed with him and the team, he would personally teach my mom how to swim on the weekends. At an early
            age,
            I learned what it's like to make hard decisions for yourself.
          </p>

          <h4>17 y.o.</h4>
          <p>
            I tried out for my highschool basketball team 3 times after I quit swimming. Every year I didn't make it. I
            trained and practiced almost every day — what am I missing? I played on non-profit and church teams outside
            of school, but I thought nothing compared to playing on your school's varsity basketball team. I even served
            as a manager on the team for one year. I must say, it takes a ton of courage to be a manager on a highschool
            varsity team. While your friends are enjoying the weather and hanging out after school, you're rebounding
            and helping a sub .500 basketball team practice and run sprints. You really have to love the game.
            <br>
            Watching the varsity team practice made me realize I was so far off from my ambitions. I was 5'8 and didn't
            know how to play organized basketball. I was just
            a street ball player. Some of those kids learned to play basketball even earlier than
            when I started learning to swim. I had a lot of catching up to do.
          </p>

          <h4>18 y.o.</h4>
          <p class="lead">
            College
          </p>
          <p>
            I applied and got into the University at Buffalo for Marketing Management. I loved entreprenuership and
            learning how to attract customers to something worth buying. But on the Summer before freshman year, I
            looked through the university's undergraduate catalog and noticed the school offered a degree in 'Exercise
            Science'.
            <br>
          </p>
          <p class="lead">
            Timeout.
          </p>
          <p>
            I read more about the 4-year program. I had never heard of the terms 'Kinesiology' or 'Exercise Science', I
            didn't even know
            you could get a degree in those fun domains! I was a B student with 0 extracurriculars besides playing
            basketball after school for 3 years. Despite all that, I focused my entire college application process on
            majoring in business and marketing — I didn't plan on throwing all that effort away into this new idea that
            popped up.
            <br>
            <br>
            One thing did feel certain. I was way more excited reading about the Exercise Science program than I did
            thinking about marketing. Several days later, I emailed admissions at the university. I took the jump.
          </p>

          <h4>20 y.o.</h4>
          <p>
            If I couldn't make it onto my highschool basketball team, you know there was no darn way I would make the
            Division 1 Basketball team for Buffalo. But if you're like me, you think anything is
            possible. I tried out my freshman year and got the results pretty quick. I stopped trying out for basketball
            teams. Instead I had a new plan, which was playing Intramural League Basketball at our
            university.
            <br>

            Anyone can sign up for Intramural Sports; you can either form your own team or join a group that needs
            players. Say what you want about intramural basketball — this became the hallmark of my 4 years at Buffalo,
            and it's where I cemented my passion for sports performance and training.
            <br>
          </p>
          <p class="lead">
            We treated intramurals like it was the NBA.
          </p>
          <p>
            The friends I met early on from pickup basketball became the founding intramural team I named, 'Splash
            Ent.' (Ent. short for Entertainment). I don't remember what inspired the name, but we kept that identity for
            all 4 years I attended Buffalo. By the 3rd year, everyone knew who 'Splash Ent' was, 'that one team that
            practices together all the time and takes the league way too seriously'. Yeah — that was us, and we loved
            it. <br>
            <br>
            Our team would strength train and shootaround in the mornings, and whomever was free in the
            evenings
            would play full-court pickup games together. Don't get me started on our weekends. <br>When we trained in
            the mornings, I
            would have everyone's workout program on a clipboard, marking sets complete with the amount of weight lifted
            or reps done. You could say my first strength coach job was with the 3-4 teammates on our team
            motivated enough to train with me.


          </p>

          <h4>21 y.o.</h4>
          <p class="lead">
            End of College
          </p>
          <p>
            College wasn't all pickup basketball and intramurals, as much as I tried for it be. I graduated with a
            Bachelor's in Exercise Science, with a ton of real-world experience and shadowing opportunities under my
            belt. I lived in Denver for 5 months interning for the NBA Strength Coach who
            trained Steve Nash while on the Phoenix Suns'. I also spent a summer down in Pensacola, Florida interning at
            Athletes' Performance (now called 'EXOS'), the company famously known for preparing the top NFL draft
            players each year. Growing up in New York all my life, it was a culture shock living down south. Football is
            everything, and playing sports in general is just bigger there. Even though I never played football, I
            thought the level of preparation and immersion of sports in people's daily lives was beautiful and something
            I never felt in New York City.
          </p>
          <p class="lead">
            My First Job
          </p>
          <p>
            I was lucky in getting a job right after my internship at Athletes' Performance. Through some terrific
            referrals from my past mentors at other internships, the Sports Medicine staff at New York University
            saw enough potential in me and hired me on as an strength coach to assist with just about every Varsity
            sport at NYU. I got paid so little; my first year, I think it was 12k for a 9 month contract (summer
            attendance is not required in the Summer for D3 sports). Nonetheless, it felt like a dream job. What I was
            doing with my intramural team at Buffalo, I was getting paid to do at NYU, with way more athletes at once. I
            learned so much during my two years there, and made some unforgettable friends too.
          </p>

          <h4>23 y.o.</h4>
          <p class="lead">
            I leave NYU and learn to code.
          </p>
          <p>
            I initially planned on leaving NYU to become a physical therapist. I wanted to advance my career
            and I felt like a rational step was to pursue a Doctorate in Physical Therapy. I was inspired by how
            meticulous
            performance therapists at EXOS would approach each athletes pre and post workout. Everything was documented
            and their treatment approaches seemed so innovative. I wanted to do that.
          </p>

          <p class="lead">
            An online course changed everything.
          </p>
          <p>
            I applied for Early Decision to Duke's Physical Therapy program. I made it to the onsite interviews at
            Durham,
            North Carolina, but ultimately was rejected. Option B was NYU Physical Therapy's interviews 4 months later
            (I
            got into the program). But two events happened from the time I read the rejection email from Duke to when I
            read the acceptance email from NYU. #1: I took a free online course on Tech Entreprenuership by Stanford
            University. That lead to #2: I wanted to make my idea of digital sports training and coaching a reality.
            That
            meant I needed to learn how to code. Coding bootcamps were becoming very popular around 2015, and I knew
            that
            if my plan failed, I'd still be in a better position financially in my career since it seemed like
            programming skills were in very high demand.
            <br>
            <br>
            I turned down my acceptance into NYU Physical Therapy and never looked back. This decision was one
            of the most important decisions in my life and SuperFit may have never started had I not enrolled in that
            free
            online course.
          </p>

          <h4>25 y.o.</h4>
          <p class="lead">
            SuperFit 1.0 is created.
          </p>
          <p>
            I never thought I could build a mobile app on my own and publish in on the Apple App Store, and then
            SuperFit 1.0 happened. I was very happy that day.
          </p>

          <h4>27 y.o.</h4>
          <p class="lead">
            Left Full Time Job to pursue SuperFit
          </p>
          <p>
            And here we are today.
          </p>
        </article>
      </div>
    </div>
  </div>
</section>
<section class="has-divider">
  <div class="container pt-3">
    <div class="row justify-content-center">
      <div class="col-xl-7 col-lg-8 col-md-10">
        <hr>
        <div class="d-flex align-items-center">
          <span class="text-small mr-1">Share this article:</span>
          <div class="d-flex mx-2">
            <a href="#" class="btn btn-round btn-primary mx-1">
              <svg class="icon icon-sm" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <title>Twitter icon</title>
                <path
                  d="M23.954 4.569c-.885.389-1.83.654-2.825.775 1.014-.611 1.794-1.574 2.163-2.723-.951.555-2.005.959-3.127 1.184-.896-.959-2.173-1.559-3.591-1.559-2.717 0-4.92 2.203-4.92 4.917 0 .39.045.765.127 1.124C7.691 8.094 4.066 6.13 1.64 3.161c-.427.722-.666 1.561-.666 2.475 0 1.71.87 3.213 2.188 4.096-.807-.026-1.566-.248-2.228-.616v.061c0 2.385 1.693 4.374 3.946 4.827-.413.111-.849.171-1.296.171-.314 0-.615-.03-.916-.086.631 1.953 2.445 3.377 4.604 3.417-1.68 1.319-3.809 2.105-6.102 2.105-.39 0-.779-.023-1.17-.067 2.189 1.394 4.768 2.209 7.557 2.209 9.054 0 13.999-7.496 13.999-13.986 0-.209 0-.42-.015-.63.961-.689 1.8-1.56 2.46-2.548l-.047-.02z" />
              </svg>
            </a>
            <a href="#" class="btn btn-round btn-primary mx-1">
              <svg class="icon icon-sm" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <title>Facebook icon</title>
                <path
                  d="M22.676 0H1.324C.593 0 0 .593 0 1.324v21.352C0 23.408.593 24 1.324 24h11.494v-9.294H9.689v-3.621h3.129V8.41c0-3.099 1.894-4.785 4.659-4.785 1.325 0 2.464.097 2.796.141v3.24h-1.921c-1.5 0-1.792.721-1.792 1.771v2.311h3.584l-.465 3.63H16.56V24h6.115c.733 0 1.325-.592 1.325-1.324V1.324C24 .593 23.408 0 22.676 0" />
              </svg>
            </a>
            <a href="#" class="btn btn-round btn-primary mx-1">
              <svg class="icon icon-sm" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <title>LinkedIn icon</title>
                <path
                  d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z" />
              </svg>
            </a>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
  <div class="divider">
    <svg class="bg-primary-alt" width="100%" height="100%" version="1.1" viewbox="0 0 100 100"
      xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none">
      <path d="M0,0 C40,33 66,52 75,52 C83,52 92,33 100,0 L100,100 L0,100 L0,0 Z" fill="#ffffff"></path>
    </svg>
  </div>
</section>